@tailwind base;
@tailwind components;
@tailwind utilities;

.colour{
    background: #48076A;
    
}
.bgrnd{
    background: #050038;
    width: 63px;
    height: 55.93px;

    gap: 0px;
    border-radius: 4.13px 0px 0px 0px;

    
}
.euphoria-script-regular {
    font-family: "Euphoria Script", cursive;
    font-weight: 700;
    /* font-style: normal; */
  }
  