@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    scroll-behavior: smooth;
    
}
html {
    scroll-padding-top: 120px; /* adjust this value to your liking */
  }
.colour{
    background: #48076A;
    
}
.expBtn{
  background: #48076A;
}
.card1{
  background: #050038;
}
.card2{
  background: #300248;
}
.bgrnd{
    background: #050038;
    width: 63px;
    height: 55.93px;

    gap: 0px;
    border-radius: 4.13px 0px 0px 0px;

    
}
.euphoria-script-regular {
    font-family: "Euphoria Script", cursive;
    font-weight: 700;
    /* font-style: normal; */
  }
  .hidd{
    display: none;
  }
  .bglogin{
    background: linear-gradient(287.56deg, #0F0C29 0%, #211C4E 0.01%, #4E2C67 50%, #24243E 100%);

  }
  .bgbtnlogin{
    background: #2E2865;

  }